@use '../vars';

.form{
    &__container{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    &__label{
        margin-bottom: 0.3rem;
    }
    &__field{
        border: 1px solid vars.$border;
        padding: 0.5rem;
        background: transparent;
    }

    &__actions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 0.8rem;
        column-gap: 1rem;
        margin-top: 1rem;
        background-color: vars.$grey-light;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}