@use '../vars';
@use '../mixin';
.segment{
    padding: 0 2%;
    margin: 2rem auto 0 auto;
    &__title{
        font-size: 2rem;
        border-bottom: 1px solid vars.$border;
        margin-bottom: 2rem;
    }

    &__desc{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &__actions{
        @include mixin.greyBlock;
    }
}